<header id="login">
   <div class="header_menu">
      <div class="container" ng-controller="TopFormController as top">
         <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
               <div class="logo">
                  <a href="index.html">
                     <img class="img-responsive" src="app/images/hotstock.png" />
                  </a>
               </div>
               <!-- logo-->
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <nav class="navbar navbar-default">
                  <div class="navbar-header">
                     <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#be_up_nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div class="collapse navbar-collapse" id="be_up_nav">
                     <form class="search">
                        <input id="search" type="search" name="search" style="display: none;" /><a id="sub_search" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                     </form>
                     <div class="pro_setting">
                        <ul>
                           <li id="pro_dp">
                              <img src="app/images/dp.png" />
                           </li>
                           <li><i class="fa fa-cog" aria-hidden="true"></i>
                           </li>
                           <li><a href="javascript:" ng-click="top.logout();"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                           </li>
                        </ul>
                     </div>
                     <!-- pro_setting-->
                  </div>
               </nav>
            </div>
            <!-- col-->
         </div>
         <!-- row-->
      </div>
      <!-- container-->
   </div>
   <!-- header_menu-->
</header>