<div class="auth-container" ng-controller="ResetPasswordController as vm">
   <!-- START panel-->
   <div class="auth-panel text-center">
      <div class="panel-heading">
         <a href="/">
            <img class="img-responsive" src="app/img/logonew.png" alt="watstock" />
         </a>
      </div>
      <div class="panel-body">
         <p>RESET YOUR PASSWORD</p>
         <form class="form-validate" role="form" name="vm.resetPasswordForm" novalidate="" ng-submit="vm.resetPassword()">
            <div class="form-group">
               <input class="form-control" type="email" name="account_email" placeholder="Email address" autocomplete="off" ng-model="vm.account.email" required="" ng-disabled="vm.disabledEmail" />
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_email.$dirty &amp;&amp; vm.resetPasswordForm.account_email.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_email.$dirty &amp;&amp; vm.resetPasswordForm.account_email.$error.email">This field must be a valid email address</span>
            </div>
            <div class="form-group">
               <input class="form-control" id="id-password" type="password" name="account_password" placeholder="Password" ng-model="vm.account.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" />
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password.$dirty &amp;&amp; vm.resetPasswordForm.account_password.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password.$dirty &amp;&amp; vm.resetPasswordForm.account_password.$error.pattern">Input should match 'a-zA-Z0-9' and 6-10 length</span>
            </div>
            <div class="form-group">
               <input class="form-control" type="password" name="account_password_confirm" placeholder="Retype Password" ng-model="vm.account.account_password_confirm" ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'" required=""
               />
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; vm.resetPasswordForm.account_password_confirm.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; vm.resetPasswordForm.account_password_confirm.$error.validator">Password does Not match</span>
            </div>
            <div class="form-group" ng-show="!vm.disabledKey">
               <input class="form-control" type="text" name="account_key" placeholder="Key" ng-model="vm.account.key" required="" ng-disabled="vm.disabledKey" />
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_key.$dirty &amp;&amp; vm.resetPasswordForm.account_key.$error.required">This field is required</span>
            </div>
            <div class="form-group text-center" ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show="vm.authMsg">{{vm.authMsg}}</div>
            <div class="full-container">
               <button class="btn btn-main btn-full" type="submit" ng-disabled="vm.loading">Reset password
                  <md-progress-circular class="pull-right" md-diameter="38px" ng-show="vm.loading"></md-progress-circular>
               </button>
            </div>
         </form>
         <p class="text-center">Have an account?<a class="btn btn-main" ui-sref="auth.login">Sign In</a>
         </p>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>Copyright &copy; Watstock 2017. All rights reserved.</span>
   </div>
</div>