.auth-container(ng-controller="ForgotPasswordController as vm")
  // START panel
  .auth-panel.text-center
    .panel-heading
      a(href="/")
        img.img-responsive(src='app/img/logonew.png', alt='watstock')
    .panel-body
      p FORGET YOUR PASSWORD
      form.form-validate(role='form', ng-submit="vm.forgotPassword()", name="vm.forgotPasswordForm", novalidate='')
        h4 Fill with your mail to receive instructions on how to reset your password.
        .form-group
          input.form-control(type='email', name='email', placeholder='Email address', autocomplete="off", ng-model="vm.account.email", required='')
          span.text-danger(ng-show="vm.forgotPasswordForm.email.$dirty && vm.forgotPasswordForm.email.$error.required") This field is required
          span.text-danger(ng-show="vm.forgotPasswordForm.email.$dirty && vm.forgotPasswordForm.email.$error.email") This field must be a valid email address
        .form-group(ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show='vm.authMsg') {{vm.authMsg}}

        .full-container
          button.btn.btn-main.btn-full(type='submit' ng-disabled="vm.loading") Send password
            md-progress-circular.pull-right(md-diameter="38px" ng-show='vm.loading')

        p Have an account?
          a.btn.btn-main(ui-sref='auth.login') Sign In

  // END panel
  .p-lg.text-center
    span Copyright &copy; Watstock 2017. All rights reserved.
