.profile
  .container
    .row
      .col-md-1.col-sm-2.col-xs-12.col-left
        ul.pro_strip
          li
            a(href='#')
              h3 Profile
          li
            a(href='#')
              h3 stock
          li
            a(href='#')
              h3 all stars
          li
            a(href='#')
              h3 ranking
      // col
      .col-md-11.col-sm-10.col-xs-12.col-ryt
        .user_breif
          span#profile_pic
            img(src='app/images/dp.png')
          .name_etc
            h2
              | Sophie Moore
              i.fa.fa-pencil(aria-hidden='true')
            h3
              img(src='app/images/flag.png')
              | UNITED STATES
            h4 Since 2017
          // name_etc
          .follows
            ul
              li followers : 23
              li following : 25
            a(href='#') Follow Sophie
          // follows
          .money_ranking
            ul
              li
                img(src='app/images/v-money.png')
                h3
                  | Virtual Money
                  span $100,000
              li
                img(src='app/images/ranking.png')
                h3
                  | Ranking Position
                  span 25
          // money_ranking
        // user_breif
        .stocks_goals
          .my_stocks
            h2 My Stocks
            .stock_head
              ul
                li Stock
                li
                  | 52wk
                  br
                  | High/Low
                li Price Last
                li
                  | Predicted price
                  br
                  | % | $
            .stocks_det
              ul
                li
                  img(src='app/images/apple-i.png')
                  |  APPL
                li 92 / 310
                li $208.32
                li
                  span#plus 9%
                  | $208.32
            .stocks_det
              ul
                li
                  img(src='app/images/tesla-i.png')
                  |  Tesla
                li 92 / 310
                li $208.32
                li
                  span#minus -3%
                  | $208.32
            .stocks_det.locked
              ul
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
            .stocks_det.locked
              ul
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
              .unlock
                h4
                  img(src='app/images/unlock.png')
                  |  add up to 5 for $8 extra per stock
                a(href='#') unlock
          // stocks
          .goals
            h2 My Goals
            ul
              li
                span
                  img(src='app/images/goal.png')
                h3
                  | Sophie has taken Isabelle position
                  span 3 housrs ago
              li
                span
                  img(src='app/images/already.png')
                h3
                  | You got already 24 position
                  span 3 housrs ago
              li
                span
                  img(src='app/images/goal1.png')
                h3
                  | Isabelle is following you
                  span 3 housrs ago
              li
                span
                  img(src='app/images/v-money1.png')
                h3
                  | Now you have $100.000
                  span 3 housrs ago
          // goals
        // stocks_goals
        .payment_news
          .payment
            h2 Payment Method
            ul
              li
                span
                  img(src='app/images/master-card.png')
                h3
                  | 000-XXX-XXX-XXX
                  span
                    i.fa.fa-times(aria-hidden='true')
              li
                span
                  img(src='app/images/a-pay.png')
                h3
                  | Pay with Touch ID
                  span
                    i.fa.fa-times(aria-hidden='true')
              li
                span
                  img(src='app/images/an-pay.png')
                h3
                  | Add Android Pay Account
                  span
                    i.fa.fa-times(aria-hidden='true')
              li
                span
                  i.fa.fa-plus(aria-hidden='true')
                h3 Add new card
          // payment
          .news
            h2 News
            h4
              span Latest
              |  | Relevant
            ul
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
          // news
        // payment_news
      // col
    // row
  // container
// profile
