header#login(ng-include="'app/views/partials/top-navbar.html'")
.profile
  .container(ng-controller='Profile1Controller as profile1')
    .row
      .col-md-1.col-sm-2.col-xs-12.col-left
        ul.pro_strip
          li
            a(href='#')
              h3 Profile
          li
            a(href='#')
              h3 stock
          li
            a(href='#')
              h3 all stars
          li
            a(href='#')
              h3 ranking
      // col
      .col-md-11.col-sm-10.col-xs-12.col-ryt
        .stocks_goals
          .my_stocks
            h2 My Stocks
            .stock_head
              ul
                li Stock
                li
                  | 52wk
                  br
                  | High/Low
                li Price Last
                li
                  | Predicted price
                  br
                  | % | $
            .stocks_det
              ul
                li
                  img(src='app/images/apple-i.png')
                  |  APPL
                li 92 / 310
                li $208.32
                li
                  span#plus 9%
                  | $208.32
            .stocks_det
              ul
                li
                  img(src='app/images/tesla-i.png')
                  |  Tesla
                li 92 / 310
                li $208.32
                li
                  span#minus -3%
                  | $208.32
            .stocks_det.locked
              ul
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
            .stocks_det.locked
              ul
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
                li
                  img(src='app/images/locked.png')
              .unlock
                h4
                  img(src='app/images/unlock.png')
                  |  add up to 5 for $8 extra per stock
                a(href='#') unlock
          // stocks
          .goals.accuracy
            h2 Accuracy
            #progress-bar.level
              #checkback.progress-bar.position(data-percent='33', data-color='#fff,#79af00')
          // goals
          ul#output
        // stocks_goals
        .payment_news
          .payment.last_week
            h2 Last Week
            .paging
              ul.pagination.pagination
                li
                  a(href='#') ...
                li
                  a(href='#') 1w
                li
                  a(href='#') 1w
                li
                  a(href='#') 1w
                li
                  a(href='#') TODAY
                li
                  a(href='#') 1w
                li
                  a(href='#') 1w
                li
                  a(href='#') 1w
                li
                  a(href='#') ...
            ul.nav.nav-pills
              li.active
                a(data-toggle='pill', href='#performer') Top Performing
              li
                a(data-toggle='pill', href='#stars')
                  img(src='app/images/stars-tab.png')
                  | All Stars
            .tab-content
              #performer.tab-pane.fade.in.active
                ul
                  li
                    span#count 1
                    span#per_img
                      img(src='app/images/herman.png')
                    span#madal
                      img(src='app/images/gold.png')
                    h3 $1430,000
                  li
                    span#count 2
                    span#per_img
                      img(src='app/images/herman.png')
                    span#madal
                      img(src='app/images/gold.png')
                    h3 $850,000
                  li
                    span#count 3
                    span#per_img
                      img(src='app/images/herman.png')
                    span#madal
                      img(src='app/images/silver.png')
                    h3 $350,000
                  li
                    span#count 4
                    span#per_img
                      img(src='app/images/herman.png')
                    span#madal
                      img(src='app/images/hot.png')
                    h3 $100,000
              #stars.tab-pane.fade
                h3 Menu 1
                p
                  | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          // payment
          .news
            h2 News
            h4
              span Latest
              |  | Relevant
            ul
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
              li
                span
                  img(src='app/images/news-img.png')
                span.news_ryt
                  h3
                    | Apple’s Stock Races Ahead as Investors Bet on
                    | New iPhones
                  h4 25 June 2017 - New York Times
                  p
                    | Apple’s shares are up nearly 60 percent since last summer. Investors hope new iPhones due in September will prompt many Apple users to upgrade.
          // news
        // payment_news
      // col
    // row
  // container
// profile
