header#login
  .header_menu
    .container
      .row
        .col-md-3.col-sm-3.col-xs-6
          .logo
            a(href='index.html')
              img.img-responsive(src='app/images/hotstock.png')
          // logo
        .col-md-9.col-sm-9.col-xs-12
          nav.navbar.navbar-default
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#be_up_nav')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #be_up_nav.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='who-we-are.html')
                    span Home
                li
                  a(href='service.html')
                    span About
                li
                  a(href='team.html')
                    span Features
                li
                  a(href='testimonial.html')
                    span Pricing
                li
                  a(href='blog.html')
                    span FAQ
        // col
      // row
    // container
  // header_menu
.login_form.register(ng-controller="RegisterFormController as reg")
  .container
    .row
      .col-md-8.col-sm-8.col-xs-12.col-centered
        .regis_new_acc
          img(src='app/images/regis-logo.png')
          h2 Register a New Account
          ul#steps
            li.current
              span 1
              h3 Registeration Form
            li
              span 2
              h3 Confirm Account
            li
              span 3
              h3 Login
        // regis_new_acc
        form(role='form', name="reg.registerForm", novalidate='', ng-submit="reg.register($event)")
          .login_input
            .form-group
              label.dis-blink
              input#email.form-control(type='name', name="account_name" placeholder='Full Name', autocomplete="off", ng-model="reg.account.name", required='')
            .form-group
              label.dis-blink
              input#email.form-control(type='username', name="account_username" placeholder='Username', autocomplete="off", ng-model="reg.account.username", required='')
            .form-group
              label.dis-blink
              input#email.form-control(type='email', name="account_email" placeholder='Enter email', autocomplete="off", ng-model="reg.account.email", required='')
            .form-group
              label.dis-blink
              input#email.form-control(type='PhoneNumber', name="account_PhoneNumber" placeholder='Enter PhoneNumber', autocomplete="off", ng-model="reg.account.PhoneNumber", required='')
            .form-group
              label.dis-blink
              input#pwd.form-control(type='password', name="account_password", placeholder='Password', ng-model="reg.account.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
            .form-group
              label.dis-blink
              input#pwd.form-control(type='password', name="account_password_confirm", placeholder='Retype password', ng-model="reg.account.account_password_confirm", ui-validate="'$value==reg.account.password'" ui-validate-watch="'password'")
            .checkbox
              label
                input(type='checkbox', name='remember')
                | i consent that I am over 18
              .text-danger(ng-show="reg.registerForm.account_agreed.$dirty && reg.registerForm.account_agreed.$error.required") You must be over 18 years old

                .alert.alert-danger(ng-show='reg.authMsg') {{reg.authMsg}}
            button.btn.btn-default(type='submit' ng-disabled="reg.loading") Register
            //a(href='confirmAccount') ConfirmAccount
      // col
    // row
  // container
  //
    <footer>
    <h4>© Copyright 2017 Watstock - All Rights Reserved</h4>
    </footer>
// login_form
