.auth-container(ng-controller="ResetPasswordController as vm")
  // START panel
  .auth-panel.text-center
    .panel-heading
      a(href="/")
        img.img-responsive(src='app/img/logonew.png', alt='watstock')
    .panel-body
      p RESET YOUR PASSWORD
      form.form-validate(role='form', name="vm.resetPasswordForm", novalidate='', ng-submit="vm.resetPassword()")
        .form-group
          input.form-control(type='email', name='account_email', placeholder='Email address', autocomplete="off", ng-model="vm.account.email", required='' ng-disabled="vm.disabledEmail")
          span.text-danger(ng-show="vm.resetPasswordForm.account_email.$dirty && vm.resetPasswordForm.account_email.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_email.$dirty && vm.resetPasswordForm.account_email.$error.email") This field must be a valid email address
        .form-group
          input#id-password.form-control(type='password', name="account_password", placeholder="Password", ng-model="vm.account.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.text-danger(ng-show="vm.resetPasswordForm.account_password.$dirty && vm.resetPasswordForm.account_password.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_password.$dirty && vm.resetPasswordForm.account_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group
          input.form-control(type='password', name="account_password_confirm", placeholder="Retype Password", ng-model="vm.account.account_password_confirm", ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'", required='')
          span.text-danger(ng-show="vm.resetPasswordForm.account_password_confirm.$dirty && vm.resetPasswordForm.account_password_confirm.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_password_confirm.$dirty && vm.resetPasswordForm.account_password_confirm.$error.validator") Password does Not match
        .form-group(ng-show="!vm.disabledKey")
          input.form-control(type='text', name="account_key", placeholder="Key", ng-model="vm.account.key", required='' ng-disabled="vm.disabledKey")
          span.text-danger(ng-show="vm.resetPasswordForm.account_key.$dirty && vm.resetPasswordForm.account_key.$error.required") This field is required
        .form-group.text-center(ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show='vm.authMsg') {{vm.authMsg}}

        .full-container
          button.btn.btn-main.btn-full(type='submit' ng-disabled="vm.loading") Reset password
            md-progress-circular.pull-right(md-diameter="38px" ng-show='vm.loading')

      p.text-center Have an account?
        a.btn.btn-main(ui-sref="auth.login") Sign In

  // END panel
  .p-lg.text-center
    span Copyright &copy; Watstock 2017. All rights reserved.
