<div class="wtst-about" id="about">
   <div class="container">
      <div class="row">
         <h1>What is Watstock?</h1>
         <h2>Market prices and trends predicted using an ever evolving neural network</h2>
         <div class="row">
            <div class="col-sm-4">
               <img src="app/img/landing/brain.png" />
               <h3>Technology</h3>
               <p class="p-outside">WatStock uses artificial intelligence and over 20 years of financial data to predict where the markets will go.</p>
            </div>
            <div class="col-sm-4 p0">
               <img src="app/img/landing/target.png" />
               <h3>Precision</h3>
               <p>Our proprietary state of the art technology network combines intelligence from IBM Watson, NASA, financial markets, Google Cloud, and alternative data sources to predict market trends and prices. Right now, our predictions are accurate
                  >80% of the time.</p>
            </div>
            <div class="col-sm-4">
               <img src="app/img/landing/profit.png" />
               <h3>Profit</h3>
               <p class="p-outside">You can use this data and take advantage of the intelligence we have gathered by enrolling in one of our subscription services.</p>
            </div>
         </div>
      </div>
   </div>
</div>