<div class="wtst-join" id="join">
   <div class="container">
      <div class="row">
         <!--img.img-descarga(src="app/img/landing/logo7.png")-->
         <h1>Join the Watstock movement!</h1>
         <h2>Signing up is fast, free and easy</h2>
         <div class="join-form">
            <input class="form-control" placeholder="Name" />
            <input class="form-control" placeholder="E-mail" />
            <button class="btn">Join</button>
         </div>
         <!--.join-sociala.btn(href="https://twitter.com/WatstockTweet" target="_blank")
  i.fa.fa-twitter.align-middle.mt-sm
a.btn
  i.fa.fa-linkedin.align-middle.mt-sm
a.btn
  i.fa.fa-facebook.align-middle.mt-sm-->
      </div>
   </div>
</div>